*{
    margin: 0;
    padding: 0;
    font-family: 'Port Lligat Sans', sans-serif;
    
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;
    border-radius: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    margin-top: 3vh;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px ;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 44px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.hero-btn:hover{
    border: 1px solid #777;
    background: #777;
    transition: 1s;
    
}
nav .fa{
    display: none;
}

@media(max-width: 700px ){
    .text-box h1{
        font-size: 20px;
    }
}

.yt-video{
    width: 100%;
}

.course{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 100px;  
}
.course h1 {
    padding-bottom: 2vh;
}
p{
  text-decoration: none;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
   color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin:  1%;  
    justify-content: space-between;
    
    
}
.course-col{
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 9px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    transition: 0.6s;
}
h3{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 1.8em;
}

h4{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.course-col-info p{
    text-align: left;
    padding: 0;
    margin: 10px 0;
    margin-top: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.course-col-info {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.course-col-info a {
    text-decoration: none;
    color: black;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3)
}

.course-col-content {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.course-col-image {
    width: 92%;
    border-radius: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

 /*-----club-----*/
.club{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.club-col{
     flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
        
}
.campuus-col img{
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
        
}
.layer:hover{
    background: rgba(0,0,0,0.8);
}



@media(max-width: 1010px){
    .row{
        display: block;
    }

    .course{
        padding: 10px;
    }
}

@media(max-width:700px) {
    .course {
        width: 90%;
    }
    .course-col-content {
        display: block;
    }   
    .course-col-image {
        margin-top: 2vw;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 0.9em;
    }
}

.footer{
    text-align: center;
    color: #c4c4c4;
}
